<!doctype html>
<div class="leftcontainer">
    <div id="logo"><img src="images/logo.png" alt="" id="logoimg"></div>
    <div id="heading">
        <h2>Employee Recognition</h2>
        <div id="line"></div>
        <h5>Give credit where credit is due in 3 steps</h5> </div>
    <div id="steps">
        <li class="one"><img id="one" src="images/one.png" alt="">
        </li>
        <li class="two"><img id="two" src="images/two.png" alt="">
        </li>
        <li class="three"><img id="three" src="images/three.png" alt="">
        </li>
    </div>
</div>
