<header class="header">
    <div class="header_navbar">
        <div class="header_navbar--logo">
            <a href="/userhomepage">
              <div class="logo_img">
                  <img src="./images/logo.png" alt="">
              </div>
            </a>
        </div>
    </div>
    <div class="header_navbar--navigation">
        <nav role="navigation" class="nav_container">
            <a  href="/createAward">Create Award</a>
            <a  href="/viewAwards">View Awards</a>
            <a  href="#">Logistics</a>
            <button id="logbtn">Logout</button>
        </nav>
    </div>
</header>
