/*element*/


/*.class*/
.home-item{
	color: #0f1626;
}

.home{
	margin-top: 10px;
	margin-left: 20px;
	background-color: #f8f9fa;
}

.container{
width: 50%;
padding: 15px 15px;
margin-top: 5%;
margin-bottom: 10%;
border: 10px solid #004359;
border-radius: 2em;
background-color: #868bac;
}

.btn{
	color: black;
	border: none;
	background-color:  #a4a7c1;
}
 
.data{
	padding: 15px;
}

.user-type{
	text-align: center;
}

.data-item{
	padding-right: 40px;
}

/*#id*/
#brand{
	margin: 0 auto;	
	text-align: center;
	padding:10px;
	font-family: Rock Salt;
	color: black;
	background-color: #f8f9fa;
}

#title{
	text-align: center;
	margin-top: 5%;
	padding-bottom: 5px;
	color: #1a2930;
}