/*element*/

button{
	background-color: inherit;
	border-bottom: 2px solid black;
	padding: 15px 35px 15px 35px;
	outline: none;
	cursor: pointer;
}

button:hover{
	background-color: #f8eee7;
}

label{
	display: inline-block;
}




/*.class*/

.container{
width: 50%;
padding: 15px 15px;
margin-top: 5%;
margin-bottom: 10%;
border: 10px solid #004359;
border-radius: 2em;
background-color: #868bac;
}

.tab{
	overflow: hidden;
	margin-left: 10%;
}

.tabContent{
	display: none;
	padding-top: 25px;
	background-color: ##868bac;
}

.data{
	padding: 15px;
}

.btn{
	color: black;
	border: none;
	background-color: #a4a7c1;
}

.home-item{
	color: #0f1626;
}

.home{
	margin-top: 10px;
	margin-left: 20px;
	background-color: #f8f9fa;
}


/*#id*/

#title{
	text-align: center;
	margin-top: 5%;
	padding-bottom: 5px;
	color: #1a2930;
}

#brand{
	margin: 0 auto;	
	text-align: center;
	padding:10px;
	font-family: Rock Salt;
	color: black;
	background-color: #f8f9fa;
}

#signin{
	text-align: center;
}