<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/homepage.css">

    <body>
        <div class="mainCont">
            <header class="header">
                <div class="header_navbar">
                    <div class="header_navbar--logo">
                        <a href="/">
                            <div class="logo_img"> <img src="./images/logo.png" alt=""> </div>
                        </a>
                    </div>
                </div>
                <div class="header_navbar--navigation">
                    <nav role="navigation" class="nav_container"> <a style="visibility: hidden;" href="#">Create Award</a> <a style="visibility: hidden;" href="#">View Awards</a>
                        <button id="regbtn">Register</button>
                        <button id="logbtn">Login</button>
                    </nav>
                </div>
            </header>
            <div class="title">
                <h4>{{title}}</h4>
                <h6>Employee Recognition</h6> </div>
            <!--LOGIN-->
            <div id="login">
                <form method="post" id='uploadForm' action="/login" encType="multipart/form-data">
                    <p class="error">{{error_message}}</p>
                    <p>Email
                        <input name="email" type="text" id="inputEmail"> </p>
                    <p>Password
                        <input name="password" type="password" id="inputPassword"> </p>
                    <button class="loginbtn" type="submit" id="submit">Sign in</button>
                </form>
            </div>
            <!--Register-->
            <div id="register">
                <!-- REGISTRATION FORM -->
                <form method="POST" action="/register" id='uploadForm' encType="multipart/form-data">
                    <!--USER NAME-->
                    <div class="error"> {{#each errors}}
                        <li>{{this.msg}}</li> {{/each}} </div>
                    <p>Name
                        <input type="text" name="name" class="form-control"> </p>
                    <!--EMAIL-->
                    <p>Email
                        <input type="email" class="form-control" name="email"> </p>
                    <!--REGION-->
                    <p>Region
                        <input type="text" class="form-control" name="Region"> </p>
                    <!--PASSWORD-->
                    <p>Password
                        <input type="password" name="password" class="form-control"> </p>
                    <!--RETYPE PASSWORD-->
                    <p>Re-Enter Password
                        <input type="password" name="passwordMatch" class="form-control" id="exampleInputPassword1"> </p>
                    <!--Button-->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <script>
            var loginForm = document.getElementsByClassName('login');
            var login = document.getElementById('login');
            var register = document.getElementById('register');
            var bool = true;
            document.getElementById("regbtn").addEventListener("click", function () {
                if (bool) {
                    login.setAttribute("style", "margin-left: 100%;");
                    register.setAttribute("style", "margin-top: 5%;");
                    bool = false;
                }
            });
            document.getElementById("logbtn").addEventListener("click", function () {
                if (!bool) {
                    login.setAttribute("style", "margin-left: 0%;");
                    register.setAttribute("style", "margin-top: 100%;");
                    bool = true;
                }
            });
        </script>
    </body>

</html>