{{> header }}

<!--TEMP FORM-->
    <div class="container">

        {{> leftcontainer }}

        <div class="rightcontainer">

          <!-- Display All Validation Errors In A Div To User -->
          {{#if errors}}
          <div class="errors">
            {{#each errors}}
              <div class="errorDiv">
                <li>{{this.msg}}</li>
              </div>
            {{/each}}
          </div>
          {{/if}}

            <h1>{{title}}</h1>
            <div class="formdiv">
                <!-- REGISTRATION FORM -->
                <form method="post" action="/userhomepage" id='uploadForm' encType="multipart/form-data">
                    <!--USER NAME-->
                    <div class="form-group">
                        <label for="username">Name </label>
                        <input type="text" name="name" class="form-control"> </div>
                    <!--EMAIL-->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email"> </div>
                    <!--REGION-->
                    <div class="form-group">
                        <label for="Region">Region</label>
                        <input type="text" class="form-control" name="Region"> </div>
                    <!--PASSWORD-->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control"> </div>
                    <!--PASSWORD-->
                    <div class="form-group">
                        <label for="passwordMatch">Re-Enter Password</label>
                        <input type="password" name="passwordMatch" class="form-control" id="exampleInputPassword1" </div>
                        <!--Img Upload-->
                        <div class="form-group">
                            <label for="image"></label>
                            <input style="border-bottom: none;" type="file" name="signature" class="form-control"> </div>
                        <!--Button-->
                        <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                </div>
            </div>
        </div>

{{> footer-end }}
