  {{> header }}
<body>
  <!--TEMP FORM-->
  <div class="containerHome">
      <h1 class="homeTitle">{{title}}</h1>

      <div class="userActions">
        <button class="createAward"  onclick="window.location.href='/createAward'" type="button" name="button">Create Award</button>
        <button class="editAward"  onclick="window.location.href='/userhomepage'" type="button" name="button">View Awards</button>
      </div>


  </div>
</body>
