{{> header }}

<body>
    <!--TEMP FORM-->
    <div class="containerHome"> {{> navbar }}
        <h1 class="homeTitle">{{title}}</h1>
        <ul class="Employee_list"> {{#each packet}}
            <li class="Employee" id="{{this.award_id}}">
                <div class="info"> {{#each this}} {{this }} {{/each}} </div>
                <div id="deldiv">
                    <button class="delbtn" type="button" name="button">X</button>
                </div>
            </li> {{/each}} </ul>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        // Sends post request to nodejs backend to delete award from users database.
        $('button').click(function () {
            var id = $(this).parent().parent().attr('id');
            console.log(id);
            $.ajax({
                type: "POST"
                , url: 'http://localhost:8080/viewAwards', //URL to the delete
                data: {
                    award_id: id
                }
                , success: function (json) {
                    console.log("SUCCESS");
                }
            });
            window.location.reload(true);
        });
    </script>
</body>
