body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

html {
    padding: 0px;
    margin: 0px;
}


/*USER HOMPEPAGE*/

.containerHome {
    overflow: scroll;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #38ef7d, #11998e);
    background: -o-linear-gradient(left, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homeTitle {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
}


/* VIEW AWARDS SECTION START */

.Employee_list {
    width: 40%;
    right: 0;
    left: 0;
    margin: 10% auto;
    position: absolute;
    list-style: none;
}

.Employee {
    margin-bottom: 5%;
    width: 100%;
    -webkit-box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
    min-width: 400px;
    border-radius: 3px;
    font-size: 15px;
    height: 50px;
    background: whitesmoke;
    font-family: sans-serif;
    font-weight: 400;
}

.info {
    padding-top: 15px;
    margin-left: 10%;
    float: left;
}

#deldiv {
    padding: 0px;
    margin: 0px;
    float: right;
    height: 50px;
    width: 10%;
}

.delbtn {
    background-color: darkgray;
    color: lightgreen;
    height: 100%;
    width: 100%;
    border-style: none;
    font-weight: 400;
}


/* VIEW AWARDS SECTION END */


/* SIGNATURE START */

.wrapper {
    background-color: white;
    position: absolute;
    width: 400px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.signature-pad {
    width: 400px;
    height: 200px;
}


/* SIGNATURE END */


/* Navbar Start */

.header {
    padding-top: 10px;
    max-width: 100%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.header_navbar {
    float: left;
    width: 20%;
    height: 100%;
    margin-left: 1.5%;
}

.header_navbar--logo a,
img {
    max-height: 60px;
    margin: 10px auto;
    height: 100%;
}

.header_navbar--navigation {
    float: right;
    width: 60%;
    height: 100%;
    line-height: 75px;
}

.header_navbar--navigation a,
button {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 2px;
    display: inline-block;
    margin-right: 10%;
    padding: 0px 10px 0px 10px;
}

#logbtn {
    text-align: center;
    line-height: 50px;
    width: 80px;
    border-radius: 5px;
    background-color: darkturquoise;
    -webkit-box-shadow: -1px 0px 50px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 50px -8px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 50px -8px rgba(0, 0, 0, 0.75);
    border-style: none;
}


/* Navbar End */


/* USERHOMEPAGE -- MODULES*/

.features {
    margin: 15% auto;
    width: 80%;
}

.features li {
    list-style: none;
    margin: 2% auto;
    width: 35%;
    height: 130px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: -1px 0px 50px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 50px -8px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 50px -8px rgba(0, 0, 0, 0.75);
}

.FeatContainer {
    height: 100%;
    width: 100%;
}

.FeatContainer .imgdiv {
    width: 35%;
    float: left;
    height: 100%;
    text-align: center;
}

.FeatContainer img {
    margin-top: 25%;
}

.FeatContainer a {
    text-decoration: none;
    text-transform: none;
    color: black;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    width: 65%;
    float: right;
    height: 100%;
}

.FeatContainer a h2 {
    text-align: left;
    font-size: 12px;
    margin-left: 10%;
    font-weight: 400;
    letter-spacing: 3px;
}

.FeatContainer a h6 {
    font-size: 10px;
    margin-top: 10%;
    text-align: left;
    margin-left: 10%;
    font-weight: 400;
}


/* HEADER TITLE */

.title {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    left: 50%;
    top: 25%;
    height: 20%;
    width: 60%;
    transform: translate(-50%, -50%);
}

.title h4 {
    margin: 0px 0px 10px 0px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    text-align: center;
}

.title h6 {
    margin: 0px;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    font-family: sans-serif;
    text-align: center;
}


/* LOGIN FORM */

#login {
    background-color: darkturquoise;
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: 50%;
    height: 350px;
    width: 400px;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: -2px -1px 39px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -1px 39px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -2px -1px 39px -5px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 1.4s ease;
    -moz-transition: all 1.4s ease;
    -o-transition: all 1.4s ease;
    -ms-transition: all 1.4s ease;
    transition: all 1.4s ease;
    margin-left: 0%;
}

#login form {
    padding: 17px;
}

#login form input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
}

#login form p {
    color: white;
    font-family: sans-serif;
    font-weight: 100;
}

#login form .error {
    color: red;
    font-family: sans-serif;
    font-weight: 100;
}

#login form button {
    border-style: none;
    width: 60%;
    height: 50px;
    border-radius: 30px;
    background-color: palevioletred;
    color: white;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
}


/* REGISTER FORM*/

#register {
    background-color: #63737A;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: -2px -1px 39px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -1px 39px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -2px -1px 39px -5px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 1.4s ease;
    -moz-transition: all 1.4s ease;
    -o-transition: all 1.4s ease;
    -ms-transition: all 1.4s ease;
    transition: all 1.4s ease;
    margin-top: 100%;
}

#register form {
    padding: 10px;
}

#register form input {
    width: 90%;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
}

#register form p {
    color: white;
    font-family: sans-serif;
    font-weight: 100;
}

#register form button {
    border-style: none;
    width: 60%;
    height: 50px;
    border-radius: 30px;
    background-color: palevioletred;
    color: white;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
}

#register form .error {
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 12px;
}


/*createAward*/

#createAward {
    background-color: turquoise;
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: 50%;
    height: 45%;
    width: 400px;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: -2px -1px 39px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -1px 39px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -2px -1px 39px -5px rgba(0, 0, 0, 0.75);
}

#createAward form {
    padding: 17px;
}

#createAward form input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
}

#createAward form p {
    color: white;
    font-family: sans-serif;
    font-weight: 100;
}

#createAward form .error {
    color: red;
    font-family: sans-serif;
    font-weight: 100;
}

#createAward form button {
    border-style: none;
    width: 60%;
    height: 50px;
    border-radius: 30px;
    background-color: palevioletred;
    color: white;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
}

#register canvas {
    background-color: white;
    width: 100%;
}


/*SendAward*/

#sendAward {
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: 45%;
    height: 60%;
    width: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: -2px -1px 39px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -1px 39px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -2px -1px 39px -5px rgba(0, 0, 0, 0.75);
}

#sendAward embed {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#sendAward button {
    border-style: none;
    width: 60%;
    height: 50px;
    border-radius: 30px;
    background-color: palevioletred;
    color: white;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
}