body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

html{
  padding: 0px;
  margin: 0px;
}

/* HOME PAGE START */
.container-fluid{
    background-image: url(../images/bkg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.navicons {
    position: absolute;
    width: inherit;
    height: 100%;
}

.navicons img {
    position: relative;
    width: 80%;
    display: block;
}

.navicons button {
    right: 14px;
    position: absolute;
    border-style: none;
    height: 60px;
    width: 40%;
    background-color: mediumturquoise;
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    -webkit-box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
}

.container {
    width: 100%;
    margin-top: 3%;
}

.col3 {
    display: inline-block;
    width: 24%;
    height: 70px;
}

.main {
    height: 30%;
}

.cta {
    margin: 0 auto;
    text-align: center;
    background: #667db6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #667db6, #0082c8, #0082c8, #667db6);
    background: -o-linear-gradient(left, #667db6, #0082c8, #0082c8, #667db6);
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    width: 50%;
    max-width: 700px;
    border-radius: 7px;
    -webkit-box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
}

.cta h3 {
    padding-top: 10%;
    color: whitesmoke;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 3rem;
}

.cta h5 {
    margin-top: 5%;
    color: whitesmoke;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 14px;
}

.cta button {
    margin-top: 10%;
    border-style: none;
    height: 60px;
    width: 40%;
    background-color: mediumpurple;
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    -webkit-box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
}
/* HOME PAGE ENDS */


/*MAIN CONTAINER*/
.container1{
    position: relative;
    height: 100vh;
    width: 100vw;
}

/*START LEFT CONTAINER AND ITS CONTENTS*/
.leftcontainer{
    display: inline-block;
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #4389A2, #5C258D);
    background: -o-linear-gradient(left, #4389A2, #5C258D);
    background: linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    height: 100vh;
    width: 30%;
    float: left;
    z-index: 999;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 2px 2px 29px 1px rgba(128,124,128,1);
    -moz-box-shadow: 2px 2px 29px 1px rgba(128,124,128,1);
    box-shadow: 2px 2px 29px 1px rgba(128,124,128,1);
}

#logo{
    width: 100%;
    height: 30%;
    text-align: center;
}

#logoimg{
    padding-top: 10%;
    max-height: 60%;
}

#heading{
    width: 100%;
    color: whitesmoke;
    font-family: sans-serif;
}

#line{
    margin-left: 10%;
    margin-right: 50%;
    height: 5px;
    background-color: aqua;
}

#heading h2{
    padding-left: 10%;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .06em;
}

#heading h5{
    padding-left: 10%;
    font-weight: 300;
    letter-spacing: .06em;
}

#steps{
    margin-top: 10%;
    list-style: none;
    padding-left: 10%;
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: .06em;
    font-size: .8rem;
    text-align: center;
}

#steps li{
  display: inline-block;
  margin-right: 15%;
}

.error{
  color: mediumpurple;
}

/*END LEFT CONTAINER AND ITS CONTENTS*/


/*START RIGHT CONTAINER*/

.rightcontainer{
    height: 100vh;
    width: 70%;
    float: right;
    z-index: 999;
}

/* FORM START*/
.formdiv{
    width: 50%;
    margin: 10% auto;
}

form{
    width: 40%;
    position: absolute;
    font-family: sans-serif;
    color: darkgray;
    text-align: left;
    font-weight: 300;
}

.form-group{
    padding-bottom: 5%;
}


form input{
    padding-bottom: 3%;
    display: block;
    border: transparent;
    width: 80%;
    border-bottom: solid lightgray 2px;
}

.formdiv form button{

   margin: 0 25%;
   height: 50px;
   width: 30%;
   border-radius: 40px;
   border-style: none;
   color: whitesmoke;
   font-size: 1.1rem;
   font-weight: 400;
   background-color: mediumpurple;
   -webkit-box-shadow: 2px 2px 29px 1px rgba(128,124,128,1);
   -moz-box-shadow: 2px 2px 29px 1px rgba(128,124,128,1);
   box-shadow: 2px 2px 29px 1px rgba(128,124,128,1);
}

h1{
    text-align: center;
    font-weight: 300;
    color: mediumpurple;
    font-size: 3rem;
}
/*FORM AND RIGHT CONTAINER END*/

 /*ERROR POP UP*/
 .errors{
  margin-top: 1.3%;
  background: #5C258D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #4389A2, #5C258D);
  background: -o-linear-gradient(left, #4389A2, #5C258D);
  background: linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:#FFF;
  position: absolute;
  z-index: 999;
  top: -20px;
  left: 0%;
  width: 30%;
  height: inherit;
  padding: 20px;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 10px;
 }
 .errorDiv{
  color: white;
  padding-left: 3%;
  padding-bottom: 8%;
}

.register p{
  margin-top: 10%;
  text-align: left;
}

.register p a{
  text-decoration: none;
}
/*USER HOMPEPAGE*/
.containerHome{
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #5C258D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.homeTitle{
  color: whitesmoke;
  font-weight: lighter;
  position: absolute;
  height: 25%;
  width:50%;
  right: 0;
  left: 0;
  margin: 5% auto;
}

.userActions{
  position: absolute;
  height: 25%;
  width:50%;
  right: 0;
  left: 0;
  margin: 20% auto;
}

.createAward{
  background-color: dodgerblue;
  float: left;
}
.editAward{
  background-color: mediumturquoise;
  float: right;
}

.userActions button{
  cursor:pointer;
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: lighter;
  border-style: none;
  border-radius: 20px;
  -webkit-box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
  display: inline-block;
  height: 100%;
  width: 45%;
}
/* VIEW AWARDS */
.Employee_list{
  width: 40%;
  right: 0;
  left: 0;
  margin: 20% auto;
  position: absolute;
  list-style: none;
}

.Employee_list li{
  text-align: center;
  margin-bottom: 5%;
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -2px -1px 19px -5px rgba(0, 0, 0, 0.75);
}

.Employee{
  border-radius: 3px;
  font-size: 15px;
  padding-top: 15px;
  height: 50px;
  background: whitesmoke;
  font-family: sans-serif;
  font-weight: 400;
  background: #06beb6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
